__pycache__/
testing/
env/
.venv/
local/
docs/build
Makefile
make.bat
.DS_Store
# UV package manager gitignores
.python-version
pyproject.toml
uv.lock
.vscode
*.ipynb
test.sh

assets/sample_data/demo/overlay.tif