antspyx
astroalign
diplib
itk-elastix
matplotlib
numpy==1.26.4
opencv-contrib-python
opencv-python
pandas
pillow
pyclesperanto-prototype
pyopengl
pyqt6
pyqtgraph
pystackreg
python-whois
qtrangeslider
scikit-image
scikit-learn
seaborn
sep
setuptools
simpleitk
siphash24
stardist
tensorflow==2.17.1
umap
umap-learn
tensorflow-io-gcs-filesystem==0.31.0; platform_system == "Windows"
