numpy==1.26.4
astroalign==2.5.1
matplotlib==3.9.1
opencv-python==4.10.0.84
pandas==2.2.2
pillow==10.4.0
pystackreg==0.2.7
PyQt6==6.7.1
scikit-image==0.24.0
SimpleITK==2.3.1
stardist==0.9.1q
tensorflow==2.17.0
tifffile==2024.7.2
tqdm==4.66.4
diplib==3.5.1
pyclesperanto-prototype==0.24.4


